<script type="application/javascript">

    // A $( document ).ready() block.
    $(document).ready(function () {

        /*        if ( '{{result}}' == 'true'){

            alert("insert success33333333333333333333333333");
        }*/
        $("#name").focus();
    });
</script>
<div class="container">

    <!-- {{#if result}}
        <script>
            alert("insert success");

        </script>
    {{/if}}-->


    <form data-ajax="false" action="/proverb/insert" method="post" enctype="multipart/form-data">
        <table border="1" style="width: 400px" class="table">
            <tr>
                <td style="background-color: antiquewhite ">author</td>
                <td>
                    <input type="text" id="author" name="author">
                </td>

            </tr>

            <tr>
                <td style="background-color: antiquewhite ">contents</td>
                <td>
                    <textarea rows="10" cols="100" id="contents" name="contents"></textarea>
                </td>


            </tr>
            <tr>
                <td style="background-color: antiquewhite ">contents</td>
                <td>
                    <input type="file" id="image" name="image">
                </td>


            </tr>
        </table>
        <table border="0" width="150px">
            <tr>
                <td colspan="2">
                    <input type="submit" value="저장"/>

                </td>

            </tr>
        </table>
    </form>
</div>


</div>

