<script type="application/javascript">

    // A $( document ).ready() block.
    $(document).ready(function () {


        $( "#btnDelete" ).click(function() {
            if (confirm('삭제하시겠습니까?')){
                location.href='./deletePerson?id={{person.id}}'
            }

        });

        //btnModifyMode
        $( "#btnModifyMode" ).click(function() {


            $("#name").removeAttr('readonly');
            $("#contents").removeAttr('readonly');

            $("#name").css("background-color","white");
            $("#contents").css("background-color","white");

        });


    });
</script>
<div class="container">

   <!-- {{#if result}}
        <script>
            alert("insert success");

        </script>
    {{/if}}-->

    <form action="/person/updatePerson" data-ajax="false" method="post">
        <table border="1" style="width: 400px" class="table">
            <tr>
                <td style="background-color: antiquewhite ">id</td>
                <td>
                    <input  type="text" id="id" style="background-color: #e3e3e3" readonly name="id" value="{{person.id}}">
                </td>

            </tr>

            <tr>
                <td style="background-color: antiquewhite ">name</td>
                <td>
                    <input  type="text" style="background-color: #e3e3e3" id="name" readonly name="name" value="{{person.name}}">
                </td>

            </tr>

            <tr>
                <td style="background-color: antiquewhite ">content</td>
                <td>
                    <textarea  rows="10" cols="100" style="background-color: #e3e3e3" readonly id="contents" name="contents">{{person.contents}}</textarea>
                </td>


            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" value="목록" onclick="location.href='./list'"/>
                    <input type="button" id="btnModifyMode" value="수정모드" />
                    <input type="button" id="btnDelete" value="삭제" />
                    <input type="submit" value="저장"/>

                </td>

            </tr>
        </table>
    </form>
</div>


</div>

