<script type="application/javascript">

    // A $( document ).ready() block.
    $(document).ready(function () {
        alert("sdflksdlfk");
        $("#id").focus();
    });
</script>
<div class="container">
    <form action="/person/insert" method="post">
        <table border="1" style="width: 800px" class="table">
            <tr>
                <td style="background-color: antiquewhite ">id</td>
                <td>
                    <input type="text" id="id" name="id">
                </td>

            </tr>

            <tr>
                <td style="background-color: antiquewhite ">name</td>
                <td>
                    <input type="text" id="id" name="author">
                </td>

            </tr>

            <tr>
                <td style="background-color: antiquewhite ">password</td>
                <td>
                    <textarea rows="10" cols="100" id="content" name="content"></textarea>
                </td>

            </tr>
        </table>
    </form>
</div>


</div>

