<h1>{{title}}</h1>
<p>Welcome to {{ kyungjoon }} <br/><br/><br/><br/><br/>
<script>

    // A $( document ).ready() block.
   /* $( document ).ready(function() {
       alert("고경준 천재니임");
    });
*/
</script>
<table>
    <tr>

        <td>{{result}}</td><br/>


    </tr>

</table>



