<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.2.js"
        charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>

    $(document).ready(function () {


        $('#btnSubmit').on('click', function (e) {

            $("#form1").submit();

            //location.href='/login/loginAction';

        });


    });


</script>

<div class="container">

    <form id="form1" method="post" action="/login/loginAction">
        <div class="form-group" style="width: 300px">
            <label for="email">id:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group" style="width: 300px">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button id="btnSubmit" type="button" class="btn btn-default" style="width: 300px">Submit</button>
    </form>


</div>
<div class="container">
    <div class="alert-danger" style="width: 300px;">
        {{msg}}
    </div>
</div>



